:root {
  --oliveGreen: #606c38;
  --darkGreen: #283618;
  --offWhite: #faf8ed;
  --lightBrown: #dda15e;
  --lightGray: #c4c4c4;
  --darkBrown: #bc6c25;
  --yellow: #e8c564;
  --red: #db542e;
  --offBlue: #cae9ff;
  --lightBlue: #bee9e8;
  --mediumBlue1: #62b6cb;
  --mediumBlue2: #5fa8d3;
  --darkBlue: #1b4965;
  --black: #000000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Crimson Text', serif;
  background-color: #faf8ed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#skip {
  background-color: var(--yellow);
  padding: 0.5em 1em;
  position: fixed;
  border-radius: 0 0 1em 1em;
  top: 0;
  left: 1em;
  font-weight: 700;
  color: var(--darkBlue);
  text-decoration: none;
  transform: translateY(-100%);
  transition: all 0.3s;
}

#skip:focus {
  transform: translateX(0%);
  color: var(--offWhite);
  background-color: var(--red);
}

#down-btn {
  color: #faf8ed;
  background-color: #283618;
  padding: 0.5em;
  border-radius: 2em;
  font-size: 2em;
  cursor: pointer;
  animation: jump 1000ms ease-in-out alternate infinite;
  animation-play-state: paused;
  bottom: 0.5em;
}

#down-btn:hover {
  background-color: #606c38;
  animation-play-state: running;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

#whereibeen {
  margin: 1em 0;
  text-align: center;
}

#whereibeen span:after {
  content: '...';
}

#whereibeen span:after {
  overflow: hidden;
  border-right: 0.15em solid #000000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00000090;
  }
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.animate-text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #283618;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s 1;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #283618;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #606c38;
  }
}
